<nav class="navbar navbar-expand-lg navbar-light">
  <ul class="nav navbar-nav w-100 justify-content-center bg-dark">
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="" routerLinkActive="active"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link text-white"
        routerLink="/book"
        routerLinkActive="active"
        >Books</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link text-white"
        routerLink="/author"
        routerLinkActive="active"
        >Author</a
      >
    </li>
  </ul>
</nav>
